*{
    margin: 0px;
    padding: 0px;
}
.page{
    width:100svw;
    height:100svh;
}
#p1{
    background-image: url("public/23cff84d-5811-4eac-a7ca-85831dd22055.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
#p2{
    background-color: white;
}
#p3{
    background-color: white;
}
#p4{
    background-image: url("public/man_image_page4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 20%;
}
.box{
    width:40%;
    height:50%;
    font-size: 35px;
   font-style: unset;
    position: relative;
    top:5%;
    left:60%

}
.b1{
    width: 30%;
    height:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom:40%;
    left:60%;
   
}
.b1-b:hover{
    transform: scale(1.1);
}
.b1-a:hover{
    transform: scale(1.1);
}
.b1-a,.b1-b{
    width:45%;
    height:70%;
    background-color: white;
    border: 2px solid black;
    border-radius:25%;
    text-align: center;   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.b2{
     width: 30%;
    height:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
     position: relative;
    bottom:50%;
    left:60%;
}
.b2-a,.b2-b{
     width:45%;
    height:70%;
    background-color: white;
    border: 2px solid black;
    border-radius:25%;
    text-align: center;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.b2-a:hover{
    transform: scale(1.1);
}
.b2-b:hover{
    transform: scale(1.1);
}
.text1{
    width:100%;
    height:10%;
    font-size: 23px;
    text-align: center;
    position: relative;
    top:5%;
}
.text2{
    width:100%;
    height:15%;
    font-size:21px;
    text-align: center;
    gap:2px;
    position: relative;
    top:8%;
}
.parent-p2{
    width: 100svw;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
   
}
.child-1{
    width:80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}
.child-2{
    width:80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    gap: 10%;  
}
.subChild-2{
    width: 100%;
    height: 60%;
    border: 2px solid black;
    display: flex;
    gap: 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.subChild-2:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.subChild-1{
    width: 100%;
    height: 60%;
    border: 2px solid black;
    display: flex;
    gap: 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.subChild-1:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.subChild-3,.subChild-4{
    width: 100%;
    height: 60%;
    display: flex;
    border: 2px solid black;
    gap: 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.subChild-3:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.subChild-4:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.img{
    width: 30%;
    position: relative;
}
.img1{
    height: 50%;
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 10%;
}
.text h3{
    padding: 5%;
    position: relative;
    top: 5%;
}
.text p{
      position: relative;
    top: 10%;
}


.box1{
    width:60%;
    height:60%;
    background-color: blue;
    border-radius:20px;
     position: relative;
    top:25%;
    left:10%;
}
.box2{
     width: 22%;
    height: 68%;
    position: relative;
    top: -30%;
    left:55%;
    border-radius: 10px;
    background-image: url("public/girl_image_page3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.t1{
    width:55%;
    height:35%;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top:20%;
    left:10%;
    justify-content: center;
}
.t2{
    width:65%;
    height:15%;
     color: white;
     font-size: 18px;
     font-family: 'Times New Roman', Times, serif;
    position: relative;
    top:15%;
    left:10%;
}
.L{
    width:30%;
    height:15%;
    background-color: blue;
    border: 2px solid white;
    border-radius: 100px;
    color:white;
    position: relative;
    top:30%;
    left:10%;
}
.L:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.About{
    width: 10%;
    height: 4%;
    position: relative;
    top: 5%;
    left: 55%;
}
.bulid{
    width: 25%;
    height: 13%;
    position: relative;
    top: 8%;
    left: 55%;
}
.text3{
    width: 43%;
    height: 24%;
    position: relative;
    top: 10%;
    left: 55%;
}
h4{
    color: orangered;
}
.read{
    width: 15%;
    height: 10%;
    background-color: blue;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    position: relative;
    top: 15%;
    left: 54%;
}
.read:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.contact{
    width: 15%;
    height: 10%;
    background-color: blue;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    position: relative;
    top: 45%;
    left: 66%;
}
.contact:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.pic{
    width: 50px;
    height: 50px;
    background-color: white;
    background-image: url("public/phone_icon_page4.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 110px;
    position: relative;
    top: 280px;
    left: 90px;
}
.image{
    width: 10%;
    height: 5%;
    position: relative;
    top: 32%;
    left: 57%;
}